#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// for layout debug
.outline {
  border: 1px solid red;
}

// for ion-note right alignment
.add-right-padding {
  padding-right: 20px;
}

// normally ion-select has max-width=45%, which can be too short for select
// options with long text
ion-select.long-text {
  max-width: 100%;
  padding-left: 2px;
}